@charset "ISO-8859-1";

.btn-spacing {
	margin-right: -100px;
	margin-bottom: 5px !important;
	margin-left: 150px;
}

.btn-sml {
	padding: 5px 5px;
	font-size: 5px;
	border-radius: 2px;
}

#butonHover:hover {
	background-color: #2155D9;
}

#cardheader {
	background-color: #151414;
}

#anchorclr:hover {
	color: white;
}

.vertical-nav {
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.page-content {
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}

/* for toggle behavior */
#sidebar.active {
	margin-left: -17rem;
}

#content.active {
	width: 100%;
	margin: 0;
}

@media ( max-width : 768px) {
	#sidebar {
		margin-left: -17rem;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-left: 17rem;
		width: calc(100% - 17rem);
	}
}

body {
	/*   background: #599fd9;
 //   background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
/*  / /  background: linear-gradient(to right, #599fd9, #c2e59c); */
	min-height: 100vh;
	overflow-x: hidden;
}

.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}

.text-uppercase {
	letter-spacing: 0.1em;
}

.text-gray {
	color: #aaa;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.alert-box {
	max-width: 300px;
	min-height: 300px;
}

.alert-icon {
	padding-bottom: 20px;
}

.input {
	border-top: none;
	border-left: none;
	border-right: none;
}

.inputField1 {
	margin-left: 50px;
	margin-top: 2%;
}

.inputField2 {
	margin-left: 50px;
	margin-top: 2%;
	padding-bottom: 4%;
}

.inp {
	border: none;
	border-bottom: 1px solid #1890ff;
	padding: 5px 10px;
	outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: text-indent 0.4s 0.4s ease;
	text-indent: -100%;
	opacity: 1;
}